body {
    margin: 0px;
}

.light-theme {
    --header-color: #E3350D;
    --page-color: #EEEEEE;
    --details-bg-color: #FFFFFF;
    --text-color: #262626;
}

.dark-theme {
    --header-color: #222568;
    --page-color: #354159;
    --details-bg-color: #1F2735;
    --text-color: #A1A1A1;
}

.header {
    position: fixed;
    top: 0;
    height: 60px;
    width: calc(100% - 90px);
    /* background-color: #E3350D; */
    background-color: var(--header-color);
    padding-left: 45px;
    padding-right: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
}

.header-icon {
    width: 35px;
    height: 35px;
}

.pokemon-row-div {
    height: calc((100vh - 60px)/2);
}

.pokemon-details-container {
    width: calc(100vw / 2 - 120px);
    /* height: calc((100vh - 60px)/2); */
    height: 100%;
    background-color: var(--details-bg-color);
    color: var(--text-color);

    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    justify-content: space-between;
}

.pokemon-details-div {
    font-family: 'Poppins', sans-serif;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    max-width: min-content;
}

.pokemon-details-div .pokemon-details-name {
    font-size: 32px; 
    font-weight: 700; 
    line-height: 48px; 
    text-wrap: nowrap;
}

.pokemon-details-div .pokemon-details-a, .pokemon-details-a {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.pokemon-details-div .pokemon-details-a span {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.pokemon-type-span {
    border-radius: 9px;
    width: 60px; 
    display: inline-block; 
    margin-right: 10px; 
    text-align: center;
    background-color: #E3350D;
    color: var(--details-bg-color);

    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

.pokemon-picture-div {
    width: calc(100vw / 2 - 120px);
    /* height: calc((100vh - 60px)/2); */
    height: 100%;
    background-color: var(--page-color);
    display: inline-block;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

/* IZMEĐU 900px I 1100px */
@media screen and (max-width: 1100px) {
    .pokemon-details-container {
        flex-direction: column;
    }
    .pokemon-row-div {
        height: auto;
    }
    .pokemon-picture-div {
        height: auto;
    }
}

/*  <= 900px    */
@media screen and (max-width: 900px) {
    .header-placeholder {
        height: 45px !important;
    }
    .header {
        height: 45px;
        width: calc(100% - 30px);
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-icon {
        height: 25px;
        width: 25px;
    }
    .header a {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
    }
    .pokemon-row-div {
        flex-direction: column-reverse !important;
        width: 100vw;
        height: calc(100vh - 45px);
    }
    .pokemon-fullview-div {
        display: none !important;
    }
    .pokemon-picture-div {
        width: calc(100vw - 120px);
        justify-content: center !important;
    }
    .pokemon-details-container {
        width: auto;
        justify-content: space-around;
        align-items: center;
    }
}